.blog-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.blog-header {
  text-align: center;
  margin-bottom: 40px;
}

.blog-header h1 {
  margin: 0;
  font-size: 3em;
}

.blog-header p {
  font-size: 1.2em;
  color: #888;
}

.blog-post {
  margin-bottom: 40px;
}

.blog-post h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

.blog-post .date {
  font-size: 0.9em;
  color: #888;
}

.blog-post .content {
  font-size: 1.1em;
  line-height: 1.6;
}

.title-color {
  color: rgb(53, 53, 53);
}