<app-welcome-message></app-welcome-message>

<app-menu></app-menu>

<div class="page-content">
  <div class="blog-container">
    <div class="blog-header">
      <h1 class="title-color">{{title}}</h1>
      <p>{{subtitle}}</p>
    </div>
    <div class="blog-content">
      @for (post of posts; track post) {
        <div class="blog-post">
          <h2>{{post.title}}</h2>
          <p class="date">{{post.date}}</p>
          <div [innerHTML]="post.content | safeHtml"></div>
        </div>
    } @empty {}
    </div>
  </div>
</div>