.white-text {
  text-decoration: none;
  color: var(--white-text);
}

.white-text:hover {
color: var(--gray-400);
}

.black-text {
  text-decoration: none;
  color: var(--white-text);
}

.black-text:hover {
color: var(--gray-400);
}