// Footer Styles
.footer {
  background-color: rgb(53, 53, 53); // Custom grey background
  padding: 20px;
  text-align: center;
}

.footer__copyright {
  color: #ffffff; // Darker text for contrast
  font-size: 14px;
  margin-bottom: 10px; // Space before the menu buttons
}

.footer__menu {
  display: flex;
  justify-content: center; // Center the menu items horizontally
  gap: 15px; // Space between buttons
}

.footer__menu-item {
  background-color: #c9c9c9; // Light grey for buttons
  border: none;
  max-height: 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #333; // Dark text for readability
  border-radius: 5px; // Slightly rounded corners for aesthetics
  padding: 1% 2%;

  &:hover {
    background-color: #d4d4d4; // Slightly darker on hover for feedback
  }

  //mobile
  @media screen and (max-width: 650px) {
    padding: 2% 3%;
  }
}