//tabmenu
.custom-tab-menu {
  background-color: rgb(92, 92, 92);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  ::ng-deep .p-tabmenu-nav {
    background-color: rgb(92, 92, 92);
    margin-bottom: 0 !important;
  }

  ::ng-deep .p-tabmenu-nav a {
    color: white !important;
    text-decoration: none; /* Remove underline */
  }

  .p-menuitem-link {
    background-color: rgb(92, 92, 92);
  }

  //.p-menuitem-link-active{  }
}

@media screen and (max-width: 768px) {
  .custom-tab-menu {
    display: none;
  }

  .custom-tab-menu-mobile {
    display: block;
  }
}